.diet-form {
    padding: 60px 0px;
    position: relative;

    .top-form-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        position: relative;
        z-index: 20;

        .sub-title {
            text-align: center;
            margin-bottom: 25px;
        }
    
        .app-description {
            width: 70%;
            margin: 0;
            text-align: center;
            color: $lighter-black;
        }
    }
}

.background-image-container {

    .background-image-one {
        position: absolute;
        transform: rotate(20deg);
        z-index: 10;
        left: -10%;
        top: 0;
        bottom: 250px;
        width: 350px;
        height: auto;
    }

    .background-image-two {
        position: absolute;
        z-index: 10;
        right: -20%;
        bottom: 8%;
        width: 500px;
        height: auto;
        transform: rotate(10deg);
    }
}

.meal-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
    border-radius: 5px;
    background-color: $quinary;
    box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
    position: relative;
    z-index: 20;

    fieldset {
        border: 0;
        width: 100%;
    }

    legend,
    .cuisine-label{
        margin: 30px auto;
        text-align: center;
    }

    .diet-choices {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .choice {
            padding: 20px 15px;
            margin: 10px 5px;
            width: 200px;
            box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $secondary;

            .choice-icon {
                font-size: 2rem;
                margin-bottom: 25px;
                border-radius: 50%;
                height: 100px;
                width: 100px;
                background-color:rgba(240, 187, 183, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            label {
                cursor: pointer;
            }

            .choice-text {
                display: flex;
                align-items: center;
            }


            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: 2px solid $primary;
                height: 20px;
                width: 20px;
                order: -1;
                display: block;
                border-radius: 2px;
                margin-right: 10px;
                cursor: pointer;
                flex-shrink: 0;

                &:checked::before {
                    content: '✔';
                    color: $secondary;
                    background-color: $tertiary;
                    display: flex;
                    border: 2px solid $primary;
                    height: 20px;
                    width: 20px;
                    border-radius: 2px;
                    margin-top: -1.5px;
                    margin-left: -2px;
                }
            }
        }
    }

    .search-bar {
        width: 60%;
        border: none;
        box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
        border-radius: 5px;
        padding: 10px 0px 10px 10px;

        &::placeholder {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: $tertiary;
        }
    }

    select {
        appearance: none;
        display: block;
        width: 60%;
        background-color: $secondary;
        padding: 10px 0px 10px 10px;
        cursor: pointer;
        border: none;
        box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
        border-radius: 5px;
        background-image: url('../assets/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size:35px;
    }

    button[type="submit"] {
        border: none;
        color: $tertiary;
        margin-top: 50px;
        cursor: pointer;
        background-color: $senary;
        border-radius: 30px;
        display: block;
        padding: 15px 10px;
        width: 250px;
        text-align: center;
        box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);

        i {
            margin-right: 15px;
            color: $tertiary;
        }
    }
}