header {
    // change this when variable partials are in place 
    min-height: 100vh;
    background-image: url('../assets/custom-wave.svg');
    width: 100%;
    background-repeat: repeat-x;

    img {
        border-radius: 50%;
    }

    ul {
        display: flex;
        justify-content: center;
    }
}