header {
    background-color: #EB9A9A;
    // change this when variable partials are in place

    img {
        border-radius: 50%;
    }

    ul {
        display: flex;
        justify-content: center;
    }
}