@media (max-width: 1145px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 1050px) {

    //header (nav)
    header {

        .header-text h1 {
            font-size: 2.4rem;
        }

        .header-text h2 {
            font-size: 1.3rem;
            margin: 30px 0 30px 0;
        }

        .list-container {
            justify-content: flex-end;

            .nav-anchor-container {
                display: none;
            }

            .slideout-menu .slideout-button {
                font-size: 2.3rem;
            }
        }
    }

    //header (content)

    .header-content {
        .header-text {
            width: 40%;
        }

        .header-image-container {
            width: 60%;
            display: flex;
            align-items: center;

            img {
                height: 92%;
                object-fit: cover;
            }
        }
    }

    //diet form section

    .background-image-container {
        .background-image-one {
            left: -22%;
            top: 175px;
        }

        .background-image-two {
            right: -28%;
        }
    }

    .meal-filter {

        .diet-choices {
            flex-wrap: wrap;

            .choice {
                width: 40%;
            }
        }
    }
}

@media (max-width: 940px) {
    //recipe section
    .recipe-wrap .column a {
        width: 43%;
    }

    //slidemenu 

    .slidemenu-nav {
        width: 45%;
    }
}

@media (max-width: 785px) {

    //header section (nav)
    
    header {
        .logo-container {

            .logo-text {
                font-size: 1.6rem;
            }

            .logo,
            .logo-shadow {
                height: 75px;
            }
        }
    }
    //header (content)
    .header-content {
        flex-direction: column;

        .header-text {
            width: 100%;
            margin: 0;
            align-items: center;

            h1 {
                font-size: 2.4rem;
                text-align: center;
                margin-top: 40px;
            }

            h2 {
                text-align: center;
            }
        }

        .start-now {
            width: 200px;
            padding: 20px 20px;
        }

        .header-image-container {
            order: -1;
            width: 100%;

            img {
                height: 350px;
            }
        }

        h2 {
            margin: 30px 0px;
        }
    }

    //slidemenu 

    .slidemenu-nav {
        width: 50%;

        a {
            font-size: 1.4rem;
        }

        ul {
            padding: 100px 50px 0 50px;
        }
    }

    //diet form 
    .diet-form {
        padding: 100px 0;

        .search-bar,
        select {
            width: 85%;
        }
    }

    .background-image-container {
        .background-image-one {
            top: 17%;
        }
    }

    //recipe section

    .background-image-container {
        .background-image-three {
            left: -26%;
            top: 40%;
        }

        .background-image-four {
            top: 18%;
            right: -28%;
        }
    }

    //footer section

    footer {
        .ul-container {
            flex-direction: column;
            align-items: center;
            margin-top: 15px;

            ul {
                margin: 15px 0;
                width: 95%;

                i {
                    font-size: 1.8rem;
                }
            }
        }
        
    }
}

@media (max-width: 515px) {

//header section (nav)

    header {
        .logo-container {

            .logo-text {
                font-size: 1.1rem;
            }

            .logo,
            .logo-shadow {
                height: 50px;
                width: 150px;
            }
        }
    }

    //header section (content)
    .header-content {
        .header-text {
            h1 {
                font-size: 2.2rem;
            }

            h2 {
                font-size: 1.3rem;
            }
        }
    }

    //slidemenu 

    .slidemenu-nav {
        width: 100%;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            li {
                margin-bottom: 120px;
            }
        }

    }

    //diet form section
    
    .meal-filter {
        .diet-choices {
            flex-direction: column;

            .choice {
                width: 85%;
                margin: 15px auto;

                .choice-icon {
                    height: 75px;
                    width: 75px;
                    font-size: 1.5rem;
                    margin-bottom: 15px;
                }
            }
        }

        .search-bar::placeholder {
            font-size: 0.7rem;
        }
    }

    .background-image-container {
        .background-image-one {
            left: -40%;
            top: 22%;
        }

        .background-image-two {
            right: -70%;
        }
    }

    //recipe section

    .recipe-wrap .column a {
        width: 100%;
    }

    .recipe-reccos {
        .background-image-three {
            left: -45%;
        }

        .background-image-four {
            top: 12%;
            right: -45%;
        }
    }
}