.recipe-reccos {
    h2 {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
}

.recipe-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0px;

    .column {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px;

        .box {
            display: flex;
            flex-direction: column;
            box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
            width: 48%;
            border-radius: 4px;
            margin: 20px 0;
            background-color: $quinary;
            align-items: center;
            padding: 40px 0;

            .img-wrapper {
                display: flex;
                width: 75%;
                box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
                border-radius: 4px;
                box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);

                img {
                    width:100%;
                    border-radius: 5px;
                }
            }

            .text-container {
                width: 75%; 

                h3 {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin: 15px 0;
                        text-align: center;
                }      
                p{
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }
}