.recipe-reccos {
    padding-bottom: 100px;
    position: relative;

    .background-image-three {
        width: 380px;
        bottom: 165px;
        left: -10%;
        position: absolute;
        transform:rotate(165deg);
    }

    .background-image-four {
        width: 320px;
        top: 8%;
        right: -8%;
        position: absolute;
    }

    .recipe-reccos-content {
        position: relative;
        z-index: 20;

        .recipe-heading-container {
                margin-bottom: 25px;
        
                h2 {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 25px;
                    text-align: center;
                }
        
                p {
                    text-align: center;
                    text-transform: capitalize;
                }
        
        }
    }
}

.recipe-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0px;

    .column {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0px;
        flex-wrap: wrap;

        a {
            box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
            width: 31%;
            background-color: $quinary;
            border-radius: 4px;
            padding: 40px 0;
            margin: 20px 0;
        }

        .box {
            display: flex;
            flex-direction: column;
            align-items: center;

            .img-wrapper {
                display: flex;
                width: 75%;
                box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
                border-radius: 4px;
                box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);

                img {
                    width:100%;
                    border-radius: 5px;
                }
            }

            .text-container {
                width: 75%; 

                h3 {
                        width: 100%;
                        margin: 15px auto;
                        text-align: center;
                }      
                p{
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
            }
        }
    }
}