html {
    font-size: 125%;
    font-family: $base-font;
}

p {
    font-size: 1.2rem;
}

legend,
.cuisine-label {
    font-size: 1.8rem;
    line-height: 24px;
    font-weight: 700;
}

label,
button[type="submit"] {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    line-height: 24px;
}