html {
    font-size: 125%;
}

body {
    font-family: $secondary-font;
}

h1 {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: capitalize;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.text-container p {
    font-size: 1rem;
}

.paragraph-container p {
    font-weight: 400;
    font-size: 1rem;
}

.header-text h2 {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: $lighter-black;
}

.app-description {
    font-weight: 400;
    font-style: italic;
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-style: italic;
}

.logo-text i {
    font-size: 1.6rem;
}

.start-now {
    font-weight: 600;
    text-transform: capitalize;
}

p {
    font-size: 1.2rem;
}

.diet-form {
    font-family: $secondary-font;
}

legend,
.cuisine-label {
    font-size: 1.8rem;
    font-weight: 900;
    color: $lighter-black;
}

label,
button[type="submit"] {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
}

.footer h3{
	font-family: 'Inter', sans-serif;
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}