// FONTS
$base-font: 'Inter', sans-serif;
$secondary-font: 'Lato', sans-serif;

// COLORS

$primary: #EB9A9A;
$secondary: #FFFFFF;
$tertiary: #000000;
$quaternary: #F0BBB7;
$quinary: #FAF0EE; 
$senary: #FAE4E4;
$lighter-black: #242e33;
$grey: #E7E7E7;