@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:wght@500&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
  font-family: inherit;
}

body {
  background-color: white;
  overflow-x: hidden;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: capitalize;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
}

.paragraph-container p {
  font-weight: 400;
  font-size: 1rem;
}

.header-text h2 {
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: #1a2125;
}

.app-description {
  font-weight: 400;
  font-style: italic;
}

.logo-text {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-style: italic;
}

.logo-text i {
  font-size: 1.6rem;
}

.start-now {
  font-weight: 600;
  text-transform: capitalize;
}

p {
  font-size: 1.2rem;
}

.diet-form {
  font-family: "Lato", sans-serif;
}

legend,
.cuisine-label {
  font-size: 1.8rem;
  font-weight: 900;
  color: #1a2125;
}

label,
button[type=submit] {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
}

body {
  -webkit-animation: fadeInAnimation ease 2s;
          animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  min-height: 100vh;
  background: url("../assets/custom-wave.jpg");
  width: 100%;
  background-repeat: repeat-x;
  background-size: cover;
}
header .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 54%;
}
header .list-container .nav-anchor-container {
  margin: auto 0;
}
header .list-container .nav-anchor-container .nav-anchor {
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
header .list-container .slideout-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .list-container .slideout-menu .slideout-button {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.8rem;
}
header .logo-container {
  position: relative;
}
header .logo-container .logo {
  background-color: #000000;
  width: 200px;
  height: 100px;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  border-radius: 15px;
}
header .logo-container .logo-text {
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
header .logo-container .logo-text .logo-span-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  left: 12px;
}
header .logo-container .logo-text .logo-span-two {
  position: relative;
  left: 22px;
}
header .logo-container .logo-text i {
  position: absolute;
  left: -30px;
  bottom: -12px;
}
header .logo-container .logo-main {
  position: relative;
  z-index: 10;
}
header .logo-container .logo-shadow {
  background-color: #FFFFFF;
  width: 200px;
  height: 100px;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  border-radius: 15px;
  position: absolute;
  top: 10px;
  left: 15px;
  border: 2px solid #000000;
}
header nav {
  padding-top: 15px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.header-content h2 {
  margin: 30px 0 60px 0;
}
.header-content .header-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
}
.header-content .header-image-container {
  width: 50%;
}
.header-content .header-image-container img {
  height: auto;
  display: block;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 25px 25px #FAE4E4;
          box-shadow: 25px 25px #FAE4E4;
}
.header-content .start-now {
  background-color: #FAE4E4;
  border-radius: 30px;
  display: block;
  padding: 15px 10px;
  width: 150px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.diet-form {
  padding: 60px 0px;
  position: relative;
}
.diet-form .top-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  position: relative;
  z-index: 20;
}
.diet-form .top-form-title .sub-title {
  text-align: center;
  margin-bottom: 25px;
}
.diet-form .top-form-title .app-description {
  width: 70%;
  margin: 0;
  text-align: center;
  color: #1a2125;
}

.background-image-container .background-image-one {
  position: absolute;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  z-index: 10;
  left: -10%;
  top: 0;
  bottom: 250px;
  width: 350px;
  height: auto;
}
.background-image-container .background-image-two {
  position: absolute;
  z-index: 10;
  right: -20%;
  bottom: 8%;
  width: 500px;
  height: auto;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.meal-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0;
  border-radius: 5px;
  background-color: #FAF0EE;
  -webkit-box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
          box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
  position: relative;
  z-index: 20;
}
.meal-filter fieldset {
  border: 0;
  width: 100%;
}
.meal-filter legend,
.meal-filter .cuisine-label {
  margin: 30px auto;
  text-align: center;
}
.meal-filter .diet-choices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.meal-filter .diet-choices .choice {
  padding: 20px 15px;
  margin: 10px 5px;
  width: 200px;
  -webkit-box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
          box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}
.meal-filter .diet-choices .choice .choice-icon {
  font-size: 2rem;
  margin-bottom: 25px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgba(240, 187, 183, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.meal-filter .diet-choices .choice label {
  cursor: pointer;
}
.meal-filter .diet-choices .choice .choice-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.meal-filter .diet-choices .choice input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #EB9A9A;
  height: 20px;
  width: 20px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: block;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.meal-filter .diet-choices .choice input[type=checkbox]:checked::before {
  content: "✔";
  color: #FFFFFF;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #EB9A9A;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  margin-top: -1.5px;
  margin-left: -2px;
}
.meal-filter .search-bar {
  width: 60%;
  border: none;
  -webkit-box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
          box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
}
.meal-filter .search-bar::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
}
.meal-filter .search-bar::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
}
.meal-filter .search-bar:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
}
.meal-filter .search-bar::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
}
.meal-filter .search-bar::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
}
.meal-filter select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 60%;
  background-color: #FFFFFF;
  padding: 10px 0px 10px 10px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
          box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
  border-radius: 5px;
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 35px;
}
.meal-filter button[type=submit] {
  border: none;
  color: #000000;
  margin-top: 50px;
  cursor: pointer;
  background-color: #FAE4E4;
  border-radius: 30px;
  display: block;
  padding: 15px 10px;
  width: 250px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
          box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
}
.meal-filter button[type=submit] i {
  margin-right: 15px;
  color: #000000;
}

.skip-main-content {
  position: absolute;
  left: -100%;
  background: #FAF0EE;
  color: #000000;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  padding: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: all;
  transition-property: all;
}

.skip-main-content:focus-within {
  left: 0;
}

.recipe-reccos h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.recipe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}
.recipe-wrap .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
}
.recipe-wrap .column .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
          box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
  border-radius: 4px;
  width: 100%;
  margin: 20px 0;
  background-color: #FAF0EE;
}
.recipe-wrap .column .box .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
          box-shadow: 0 3px 10px rgba(240, 187, 183, 0.716);
  border-radius: 4px;
  -o-object-fit: fill;
     object-fit: fill;
}
.recipe-wrap .column .box .img-wrapper img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}
.recipe-wrap .column .box .text-container {
  width: 75%;
}
.recipe-wrap .column .box .text-container .text-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.recipe-wrap .column .box .text-container .paragraph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FAE4E4;
  text-align: center;
}

@media (max-width: 1145px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 1050px) {
  header .header-text h1 {
    font-size: 2.4rem;
  }
  header .header-text h2 {
    font-size: 1.3rem;
    margin: 30px 0 30px 0;
  }
  header .list-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .list-container .nav-anchor-container {
    display: none;
  }
  header .list-container .slideout-menu .slideout-button {
    font-size: 2.3rem;
  }

  .header-content .header-text {
    width: 40%;
  }
  .header-content .header-image-container {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content .header-image-container img {
    height: 92%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .background-image-container .background-image-one {
    left: -22%;
    top: 175px;
  }
  .background-image-container .background-image-two {
    right: -28%;
  }

  .meal-filter .diet-choices {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .meal-filter .diet-choices .choice {
    width: 40%;
  }
}
@media (max-width: 785px) {
  header .logo-container .logo-text {
    font-size: 1.6rem;
  }
  header .logo-container .logo,
header .logo-container .logo-shadow {
    height: 75px;
  }

  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content .header-text {
    width: 100%;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content .header-text h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 40px;
  }
  .header-content .header-text h2 {
    text-align: center;
  }
  .header-content .start-now {
    width: 200px;
    padding: 20px 20px;
  }
  .header-content .header-image-container {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
  .header-content .header-image-container img {
    height: 350px;
  }
  .header-content h2 {
    margin: 30px 0px;
  }

  .diet-form {
    padding: 100px 0;
  }

  .background-image-container .background-image-one {
    top: 17%;
  }
}
@media (max-width: 538px) {
  .search-bar::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  .search-bar::-moz-placeholder {
    font-size: 0.8rem;
  }
  .search-bar:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .search-bar::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  .search-bar::placeholder {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  .header-content .header-text h1 {
    font-size: 2.2rem;
  }
  .header-content .header-text h2 {
    font-size: 1.3rem;
  }

  .meal-filter .diet-choices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .meal-filter .diet-choices .choice {
    width: 85%;
    margin: 15px auto;
  }
  .meal-filter .diet-choices .choice .choice-icon {
    height: 75px;
    width: 75px;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .background-image-container .background-image-one {
    left: -40%;
    top: 18%;
  }
  .background-image-container .background-image-two {
    right: -28%;
  }
}